.main{
    text-align: center;
    display:flex;
    justify-content :center;
}

.main__thumbnails__content {
    width: 350px;
    border:2px solid rgba(255,255,255, 0.5);
    margin-bottom: 20px;
    padding : 3px;
    border-radius: 4px;
}
.main__thumbnails__content a img {
    width: 350px;
    height: 250px;
}
.main__thumbnails__content p {
    color : rgba(255,255,255, 0.8);
    font-family: 'Nanum Gothic';
    margin:0;
    padding:15px;
}

/* 786px 이상 */
@media screen and (min-width : 768px){
    .main__thumbnails{
        column-count : 2;
    }
    .main__thumbnails__content {
        margin-right: 5px;
        margin-left: 5px;
    }
}

/* 1150px 이상 */
@media screen and (min-width : 1150px){
    .main__thumbnails{
        column-count : 3;
    }
}